*{
    margin: 0 auto;
    background-color: black;
}

.circle{
    margin-top: 5rem;
    margin-bottom: 2rem;
    background-color: #aaa;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
}


a{
    display: block;
    color: white;
    font-weight: 500;
    text-decoration: none;
    font-size: 1.2em;
    background-color: purple;
    padding: 5px;
    border: 1px solid black;
    border-radius: 15px;
    width: 14em;
 
    text-align: center;
    margin-top: 1.3em;
}

a:hover{
    background-color: plum;
}

img{
    height: 10rem;
}

button{
   
    
    
}